/* src/Navbar.css */
nav {
  background: #efefef;
  padding: 2px;
  box-shadow: black 0px 2px 8px 0px;
  }
  
  ul {
    list-style-type: none;
    display: flex;
    justify-content: center
  }
  
  li {
    margin: 0 1rem;
  }
  
  a {
    color: rgb(17, 17, 17);
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
    background: linear-gradient(to right, #ff8741, #ff57a6, red);
    -webkit-background-clip: text;
    color: transparent;
  }
  
  /* end of the line */