/* src/Navbar.css */
nav {
    background: #333;
    padding: 2px;
  }
  
  ul {
    list-style-type: none;
    display: flex;
    justify-content: center
  }
  
  li {
    margin: 0 1rem;
  }
  
  a {
    color: white;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  /* end of the line */